.button-container {
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: horizontal;
	-webkit-box-direction: normal;
	-webkit-flex-direction: row;
	-ms-flex-direction: row;
	flex-direction: row;
}

.button-container .button {
	-webkit-box-flex: 1;
	-webkit-flex: 1;
	-ms-flex: 1;
	flex: 1;
}

.button-container .button + .button {
	margin-left: 1em;
}

.button {
	display: block;
	color: #f9f9f9;
	padding: 1em 2em;
	float: left;
	border: 0;
	border-radius: 0.2em;
	text-transform: uppercase;
	font-weight: 500;
	font-size: 0.7em;
	margin: 0.5em 0;
	text-decoration: none;
	text-align: center;
	
}

.button.wide {
	width: 100%;
}

.button.done {
	background-color: #8eac61;
	box-shadow: 0 0.2em 0 0 #628b26;
}

.button.more {
	background-color: #6060f0;
	box-shadow: 0 0.2em 0 0 #4a4aef;
}

.button.delete {
	background-color: #f0608c;
	box-shadow: 0 0.2em 0 0 #e61152;
}

.button.no-float {
	float: none;
}

.button-check {
	padding: 0.2em;
}

.circle-button {
	display: block;
	position: fixed;
	bottom: 2em;
	right: 2em;
	height: 4em;
	width: 4em;
	background-color: #d45e5e;
	border-radius: 50%;
	border: none;
	box-shadow: 0 0.1em 0 0.1em #984444;
	color: #f9f9f9;
}

img {
    max-width: 100%;
    height: auto;
}