<template name="home">
	<section>
		<header>
			<h2>Races</h2>
		</header>
		<ul class="list">
			{{#each Races}}
			<li>
				<a href="/race/{{_id}}">
					<h3>{{title}}</h3>
					{{#each Races players}}
					<p>{{name}}</p>
					<p>{{email}}</p>
					{{/each}}
				</a>
				<button class="button delete">Delete Race</button>
			</li>
			{{/each}}
		</ul>
		<form>
			<fieldset>
				<legend>Create a new race</legend>
				<input type="text" name="name" required>
				<label>Name</label>
				<input type="submit" class="button done wide" value="Create">
			</fieldset>
		</form>
	</section>
</template>