<template name="map">
	<section class="no-padding">
		<div class="map">
		</div>
		<div class="map-info">
			<div class="button-container">
				<button class="button done">Create race</button>
				<button class="button more">See markers</button>
			</div>
			<form>
				<input type="text" name="race-title" placeholder="Geef je race een naam">
				<label>Titel van Race</label>
			</form>
			<table>
				<tbody>
					{{#each Races}}
					<tr>
						<td>{{title}}</td>
						<td>{{markers}}</td>
						<td><button class="delete-marker button-check">X</button></td>
					</tr>
					{{/each}}
				</tbody>
			</table>
		</div>
	</section>
</template>