<template name="leaderboard">
	<section>
		<div class="container">
			<div class="row">
				<div class="col-md-12">
					<header>
						<h2>Leaderboard</h2>
						<p>And the winner is</p>
						<a href="/" class="left button control">
							<i class="fa fa-arrow-left"></i>
						</a>
					</header>
				</div>
			</div>
			<div class="row">
				<div class="col-md-12">
					<ul class="tall">
						{{#each Leaderboard}}
						<li>
							<a href="#" class="title">
								<h3>Ranking</h3>
								<p>The best and the fastest</p>
							</a>
						</li>
						{{/each}}
					</ul>
				</div>
			</div>
		</div>
	</section>
</template>